:root {
    --taupe-gray: #9A9399ff;
    --air-force-blue: #628493ff;
    --air-superiority-blue: #6FA2B6ff;
    --air-force-blue-2: #658C9Cff;
    --french-gray: #B2BCC6ff;
    --davys-gray: #555E60ff;
    --bole: #7C504Bff;
    --cadet-gray: #94ACBBff;
    --air-superiority-blue-2: #75A9BEff;
    --air-force-blue-3: #6792A2ff;
    --taupe: #49403Dff;
    
    --transparent-white: rgba(255, 255, 255, 0.5);
    --transparent-black: rgba(0, 0, 0, 0.5);
}

p {
    margin: 1rem 0 1rem 0;
}

main {
    display: grid;
    grid-template-columns: 40% auto;
    height: 100vh;
    width: 100vw;
}

#image-container {
    padding-top: 30%;
    background-image: url(/img/annie-spratt-YGBaA4UdoLY-unsplash.jpg);
    background-size: cover;
}

.logo-container {
    width: 100%;
    height: 10rem;
    background-color: var(--transparent-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Modeska';
    font-size: 2.5rem;
    color: white;
}

img {
    width: 8rem;
    padding-right: 1rem;
}

#content {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* padding-left: 3rem; */
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin: 0 auto;
}

.text {
    margin-left: 3rem;
    font-size: x-large;
    font-weight: 600;
}

.remote {
    padding: 2rem 0 2rem 0;
}

.form-container {
    height: 22rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 1rem;
    font-weight: 550;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px;
    background-color: rgb(255, 255, 255);
    padding-left: 3rem;
}


.form-container > p {
    font-size: 1.8rem;
    margin: 1.5rem 0 1.5rem;
}

.form-text {
    grid-column: span 2;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 2px;
}

input {
    width: 16rem;
    height: 1.5rem;
    /* background-color: var(--davys-gray); */
    border: 1px solid var(--french-gray);
    border-radius: 4px;
}

button {
    color: white;
    background-color: var(--bole);
    margin: 2rem 0 0 3rem;
    width: 16rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.log-in {
    font-weight: 600;
    margin-left: 3rem;
}

a {
    text-decoration: none;
    color: var(--bole)
}

input:invalid {
    border: 2px solid red;
}

input:invalid + span::after {
    content: "Invalid";
    color: red;
    display: block;
}

@font-face {
    font-family: 'Modeska-Bold';
    src: url('font/modeska-trial-bold.ttf') format('truetype');
}